/* ---------------------- character widget ---------------------- */
.Character_widget_photo img{
  border: 4px solid #00A6B6;
  width: 180px;
}

.Character_widget_name{
  color: #00A6B6;
}

/* Game_sessions widget */






/* ---------------------- current game session ---------------------- */

.GS-CurrentGame > span:first-child, .GS-CurrentGame > span:nth-child(3){
  font-size: 13px;
  margin-top: 6px;
}

.GS-CurrentGame a{
  text-decoration: none;
  color: white;
}

.messages-message-board-GS .panel-heading{
  border-bottom: 1px solid #00A6B6;
}

.messages-message-type > .panel-body {
  min-height: 290px;
  max-height: 290px;
  overflow-y: scroll;
}

.messages-message-type > .messages-private-message {
  background-color: #26A65B;
}

.messages-message-type > .messages-group-message {
  background-color: #CF000F;
}

.messages-message-board-GS > .panel-body {
  min-height: 620px;
  max-height: 620px;
  overflow-y: scroll;
  border-left: 6px solid #00A6B6;
  border-right: 6px solid #00A6B6;
}


.messages-message-board-message-master img {
  width: 100%;
  border: 2px solid #F39C12;
}

.messages-message-board-message-master > div:nth-child(1){
  border-bottom: 1px solid #F39C12;
  min-height: 57px;
  font-size: 14px;
}


.messages-message-board-message-other-GS img {
  width: 100%;
  border: 2px solid #26A65B;
}

.messages-message-board-message-other-GS > div:nth-child(2){
  border-bottom: 1px solid #26A65B;
  min-height: 57px;
  font-size: 14px;
}

.messages-message-board-GS > .messages-message-board-new-GS {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #00A6B6;
}

.messages-message-board-GS > .messages-message-board-new-GS textarea {
  resize: none;
  width: 100%;
  height: 65px;
  border-radius: 4px;
  padding: 5px;
}

.messages-message-board-GS > .messages-message-board-new-GS p {
  margin-left: -15px;
  margin-top: 15px;
}


/* ---------------------- current game session players ---------------------- */
.widget-Palyer-GS > .panel-body > div:first-child{
  min-height: 665px;
  max-height: 665px;
  overflow-y: scroll;
}

.widget-Palyer-GS > .panel-body{
  padding-top: 0px;
}

.widget-Palyer-GS > .panel-body > div{
border-left: 1px solid #26A65B;
border-right: 1px solid #26A65B;
}

.widget-Palyer-GS .panel-footer{
  background-color: white;
}

.widget-Palyer-GS .panel-footer button{
  margin-bottom: -20px;
}

.widget-Palyer-GS .panel-heading{
  background-color: #26A65B;
  border-bottom: 1px solid #26A65B;
}

.char-name-GS{
  font-size: 18px;
  color: #26A65B;
  font-weight: bold;
}

.pic_master{
  border: 2px solid #F39C12;
}

.pic_character{
  border: 2px solid #26A65B;
}

.widget-Palyer-GS a{
  color: black;
}
.widget-Palyer-GS .btn-invit-d a{
  color: white;
}

.widget-Palyer-GS a:hover{
  text-decoration: none;
}



