
.panel-default .game_session > .panel-heading{
  background-color: #00A6B6;
  margin-bottom:0;
  color: white;
}

/* ------------------------------- Game_invitation ------------------------------- */
