<div ng-include src='"webapp/views/partials/top-menu.html"'></div>
<div id="user-show-profil" class="row">


  <div class="row">
    <div class="col-md-4 text-center">
      <div class="panel panel-default standard" style='border-color: #674172;'>
        <div class="panel-heading text-center lead posts">Posts</div>
        <div class="panel-body">
          <div ng-repeat="post in posts">
            <div class="row">
              <div class="col-xs-3 col-xs-offset-1">
                <img ng-src="/web/uploads/{{user.image_profile}}" class="img-rounded small-picture" >
              </div>
              <div class="col-xs-7">
                <h4 style='margin-top:4px;'>{{post.content}}</h4>
                <p><a href="#users/{{user.id}}/posts/{{post.id}}">Read more</a></p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="panel-footer text-center lead">
          <br>
          <p><a href="#/users/{{user.id}}/posts" style='color: #674172;'><b style='color: #674172;'>{{posts.length}}</b> Posts</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <br>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12 user_widget_photo">
            <div>
              <a href="" data-toggle="modal" data-target="#user-see-profil-album"><img ng-src="/web/uploads/{{user.image_profile}}" class="img-circle"></a>
            </div>
          </div>
           <h2>{{ user.username }}</h2>
           <br>
        </div>
        <div class="panel-footer">
            <a href="" class='green'><i class="glyphicon glyphicon-envelope"></i></a>
            <a href="" class='orange'><i class="glyphicon glyphicon-list-alt"></i></a>
            <a href="" ng-if="isFriend == 0 && me.id != 1" ng-click="AddFriend(user.id)" class='blue'>+<i class="glyphicon glyphicon-user"></i></a>
            <a href="" ng-if="isFriend == 1 && me.id != 1" ng-click="UnFriend(user.id)" class='blue'>-<i class="glyphicon glyphicon-user"></i></a>
            <a href="" ng-if="me.id == 1" ng-click="deleteUser(user.id)" class='blue'><i class="glyphicon glyphicon-trash"></i></a>
        </div>
      </div>
      <br>
      <div>
        <a ng-if="isFriend == 1" href="#/users/{{user.id}}/galleries"><button class="btn btn-info">See all pictures</button></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default standard" style='border-color: #00A6B6;'>
        <div class="panel-heading text-center lead friend_list">Friends</div>
        <div class="panel-body" style='border-radius:0;'>
          <input type='text' ng-model="searchedFriend.username" class='form-control'>
          <hr>
          <div class="row pictures">
            <div ng-repeat="friend in friends | filter:searchedFriend" class="col-md-4 text-center">
              <a href=""><img ng-src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
              <p>{{friend.username}}</p>
            </div>
          </div>
        </div>
        <div class="panel-footer text-center lead" style='color: #00A6B6;'><br><p><b>{{friends.length}}</b> Friends</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="user-see-profil-album">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header lead text-center" style="background-color:#00A6B6; border-top-left-radius:4px; border-top-right-radius:4px;">
        Album : Profil
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8" style="height:300px;margin-bottom:10px;">
            <center style="height:100%;">
              <img id="userProfilPicturesCurrentDisplay" ng-src="/web/uploads/{{user.image_profile}}" style="max-height:100%; max-width:100%;" class="img-rounded">
            </center>
          </div>
        </div>
        <div class="row" style="display:-webkit-box; overflow-y:scroll;width: 100%;">
          <div ng-repeat="photo in photos" style="height:70px;margin-left:10px;">
            <img ng-click="changedDisplayed(photo.image_name)" ng-src="/web/uploads/{{photo.image_name}}" style="height:100%;" class="img-rounded">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

