/* ------------------------------- Pannels ------------------------------- */
.standard > .panel-body {
  min-height: 380px;
  max-height: 380px;
  overflow-y: scroll;
}

.panel-default > .panel-heading {
  background-color: #00A6B6;
  margin-bottom:0;
  color: white;
  text-shadow: 0 2px 0 rgba(0,0,0,.3);
}

.panel-default > .character_sheets { background-color: #26A65B; }
.panel-default > .game_sessions    { background-color: #F39C12; }
.panel-default > .pictures         { background-color: #CF000F; }
.panel-default > .posts            { background-color: #674172; }

.panel-default > .panel-footer {
  padding: 0;
  border-top: none;
  background-color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
.panel-default > .panel-footer a {
  padding: 6px 6px;
  display:inline-block;
  width: 33.3%;
  height: 40px;
  margin: 0 -2px;
}

.panel-default > .panel-footer a.green  {
  border-top: 4px solid #26A65B;
  color: black;
}

.panel-default > .panel-footer a.orange {
  border-top: 4px solid #F39C12;
  color: black;
}

.panel-default > .panel-footer a.blue   {
  border-top: 4px solid #52B3D9;
  color: black;
}

.panel-default > .panel-footer a.green:hover  {
  border-top: 4px solid #26A65B;
  background-color: #26A65B;
  color: #fff;
  border-radius: 0 0 0 2px ;
}

.panel-default > .panel-footer a.orange:hover {
  border-top: 4px solid #F39C12;
  background-color: #F39C12;
  color: #fff;
}

.panel-default > .panel-footer a.blue:hover   {
  border-top: 4px solid #52B3D9;
  background-color: #52B3D9;
  color: #fff;
  border-radius: 0 0 2px 0;
}

/* -------------------------------- Tools ------------------------------- */

.small-picture {
  border: 1px solid black;
  max-height: 60px;
}

.picture{ border: 1px solid black; }

.big-picture{
  border: 1px solid black;
  max-height: 90px;
  max-width: 120px;
  margin-bottom: 20px;
}

/* ----------------------------- User_widget ---------------------------- */

/* main size of widget */
.user_widget_photo img {
  margin: 30px auto;
  width: 150px;
  border: 1px solid #00A6B6;
}

/* ------------------------------- Friend_widget ------------------------------- */
.friend_pic{ max-height: 80px; }
.pictures{ margin-bottom: 20px; }
