/* Main title */
.welcome-title   { margin-top: 100px; }
.welcome-title h1{ font-size: 50px; font-weight: 300; }
.welcome-title h2{ font-size: 30px; font-weight: 300; }

hr.welcome-hr{ border-top: 1px solid grey;  margin-top: 100px; }

.welcome-logo       { max-height: 100px; }
.welcome-picture    { max-height: 200px; }
.welcome-description{ margin-top: 50px; }
