<div ng-include src='"webapp/views/partials/top-menu.html"'></div>

<div class="row">
  <center>
    <div class="col-md-2"> <img ng-click="galleriesArrows('left')" class="galleries-arrows img-rounded" src="webapp/assets/img/icons/galleries-left.png"> </div>
    <div id="galleries-photo-display" class="col-md-8"></div>
    <div class="col-md-2"> <img ng-click="galleriesArrows('right')" class="galleries-arrows img-rounded" src="webapp/assets/img/icons/galleries-right.png"> </div>
  </center>
</div>

<div class="row">
  <div id="galleries-photo-album">
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="row">
      <select id="AlbumSelect" class="col-xs-10 selectpicker">
          <option ng-repeat="album in albums" value="{{album.id}}">{{album.name}}</option>
      </select>
    </div>

    <div class="row">
      <div class="col-xs-5">
        <p>create new album :</p>
        <p>
          <div class="row galleries-album-creation">
            <div class="col-xs-6">
              <input id="galleries-album-create-name" class="form-control" type="text">
            </div>
            <div class="col-xs-6">
              <button id="galleries-album-create" data-toggle="modal" data-target="#galleries-new" type="button" class="btn btn-success" disabled>Create</button>
            </div>
          </div>
        </p>
      </div>

      <div class="col-xs-5">
        <p>add image to album :</p>
        <p>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10 galleries-album-add">
              <button id="galleries-album-add" type="button" class="btn btn-info">Upload</button>
            </div>
          </div>
        </p>
      </div>
    </div>

  </div>
    <div class="col-md-6">
      <p id="galleries-picture-name" class="lead"></p>
      <div class="row">
        <div class="col-xs-6">
          <p id="galleries-picture-date"></p>
        </div>
        <div class="col-xs-6">
          <p id="galleries-picture-album"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-9">
          <p id="galleries-picture-description">
          </p>
        </div>
      </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="galleries-new">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header lead text-center">
        Confirm creation of new album
      </div>
      <div class="modal-body">
        <p>create new album "{{newAlbumName}}" ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

