<div ng-include src='"webapp/views/partials/top-menu.html"'></div>

<div class="col-md-3">

  <!-- private messages -->
  <div class="panel panel-default messages-message-type">
    <div class="panel-heading text-center lead messages-private-message">Friend Groups</div>
    <div class="panel-body">
      <div class="row">
        <p style="text-align:right; margin:0px; margin-right:10px; "><a href="">+ Create</a></p>
      </div>
      <div ng-repeat="friendGroup in friendGroups">
        <hr>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-7">
            <h4 style='margin-top:4px;' name="{{friendGroup.id}}" onclick="switchGroups(this.getAttribute('name'))">{{friendGroup.name}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- group messages -->
  <div class="panel panel-default messages-message-type">
    <div class="panel-heading text-center lead messages-group-message">Friends</div>
    <div id="messages-friends-in-group" class="panel-body">
    </div>
  </div>

</div>

<div class="col-md-9">

  <div class="panel panel-default messages-message-board">
    <div class="panel-heading text-center lead">Beckosaurus Rex</div>
    <div class="panel-body">
      <div class="row messages-message-board-message-me">
        <div class="col-xs-2"><img src="webapp/assets/img/anon_user.png" class="img-rounded"></div>
        <div class="col-xs-10">
          Salut ! comment ca va depuis le temps ?
        </div>
      </div><!-- close messages-message-board-message-me -->
      <hr>
      <div class="row messages-message-board-message-other">
        <div class="col-xs-10">
          pas trop mal et toi ?
        </div>
        <div class="col-xs-2"><img src="webapp/assets/img/anon_user.png" class="img-rounded"></div>
      </div><!-- close messages-message-board-message-other -->
      <hr>
      <div class="row messages-message-board-message-me">
        <div class="col-xs-2"><img src="webapp/assets/img/anon_user.png" class="img-rounded"></div>
        <div class="col-xs-10">
          ca va ca va ... une petite partie du coup ?
        </div>
      </div><!-- close messages-message-board-message-me -->
      <hr>
      <div class="row messages-message-board-message-other">
        <div class="col-xs-10">
          attend je vais manger et je reviens.
        </div>
        <div class="col-xs-2"><img src="webapp/assets/img/anon_user.png" class="img-rounded"></div>
      </div><!-- close messages-message-board-message-other -->
      <hr>
      <div class="row messages-message-board-message-other">
        <div class="col-xs-10">
          c'est bon je suis pret !
        </div>
        <div class="col-xs-2"><img src="webapp/assets/img/anon_user.png" class="img-rounded"></div>
      </div><!-- close messages-message-board-message-other -->
    </div>
    <div class="row panel-footer messages-message-board-new">
      <div class="col-xs-10"><textarea></textarea></div>
      <div class="col-xs-2"><p><button type="button" class="btn btn-default">SEND</button></p></div>
    </div>
  </div>

</div>
