<div ng-include src='"webapp/views/partials/top-menu.html"'></div>
<div class="row">
  <!-- USER_CHARACTERS_SHEETS -->
  <div class="col-md-4">
    <div class="panel panel-default standard">
      <div class="panel-heading text-center lead character_sheets">Character Sheets</div>
      <div class="panel-body">
        <p class='text-center'><a href=""> + New Character</a></p>
        <hr>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-1">
            <img src="webapp/assets/img/anon_user.png" class="img-rounded small-picture" >
          </div>
          <div class="col-xs-7">
            <h4 style='margin-top:4px;'>Jesus Christ</h4>
            <p><b>lvl 12 healer</b></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <p class='text-muted'>Current game : <br>Super Smach Relegion Brwal</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
            <img src="webapp/assets/img/anon_user.png" class="img-rounded small-picture" >
          </div>
          <div class="col-xs-7">
            <h4 style='margin-top:4px;'>Beckozaurus Rex</h4>
            <p><b>lvl 6 drunk irish monster</b></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <p class='text-muted'>Current game : <br>Lavoir adventures</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
            <img src="webapp/assets/img/anon_user.png" class="img-rounded small-picture" >
          </div>
          <div class="col-xs-7">
            <h4 style='margin-top:4px;'>Beck Beckinson the Bucket</h4>
            <p><b>lvl 11 gipsy developer</b></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <p class='text-muted'>Current game : <br>My_guitar_to_the_vertical</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- USER_WIDGET -->
  <div class="col-md-4 text-center">
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 user_widget_photo">
          <div>
            <img src="webapp/assets/img/anon_user.png" class="img-circle">
          </div>
        </div>
         <h2>USERNAME</h2>
         <br>
      </div>
      <div class="panel-footer">
          <a href="" class='green'><i class="glyphicon glyphicon-envelope"></i></a>
          <a href="" class='orange'><i class="glyphicon glyphicon-list-alt"></i></a>
          <a href="" class='blue'><i class="glyphicon glyphicon-user"></i></a>
      </div>
    </div>
  </div>
  <!-- GAME_SESSIONS_WIDGET -->
  <div class="col-md-4">
    <div class="panel panel-default standard">
      <div class="panel-heading text-center lead game_sessions">Game Sessions</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <a href=""><h3 style='margin-top:4px;'>Game 1<span class='pull-right'><i class='glyphicon glyphicon-flash'></i></span></h3></a>
            <p><b>Started 12 october 1997</b></p>
            <p><i class='text-muted'>Beckman rolled 11. Critical hit !</i></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <a href=""><h3 style='margin-top:4px;'>Game 2<span class='pull-right'><i class='glyphicon glyphicon-flash'></i></span></h3></a>
            <p><b>Started 12 october 1997</b></p>
            <p><i class='text-muted'>Beckman rolled 11. Critical hit !</i></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <a href=""><h3 style='margin-top:4px;'>Game 3<span class='pull-right'><i class='glyphicon glyphicon-flash'></i></span></h3></a>
            <p><b>Started 12 october 1997</b></p>
            <p><i class='text-muted'>Beckman rolled 11. Critical hit !</i></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <a href=""><h3 style='margin-top:4px;'>Game 4</h3></a>
            <p><b>Started 12 october 1997</b></p>
            <p><i class='text-muted'>Beckman rolled 11. Critical hit !</i></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <a href=""><h3 style='margin-top:4px;'>Game 5</h3></a>
            <p><b>Started 12 october 1997</b></p>
            <p><i class='text-muted'>Beckman rolled 11. Critical hit !</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <!-- FRIENDS_WIDGET -->
  <div class="col-md-4">
    <div class="panel panel-default standard">
      <div class="panel-heading text-center lead friend_list">Friends</div>
      <div class="panel-body" style='border-radius:0;'>
        <input type='text' class='form-control'>
        <hr>
        <div class="row pictures">
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
        </div>
        <div class="row pictures">
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
        </div>
        <div class="row pictures">
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
        </div>
        <div class="row pictures">
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
          <div class="col-md-4 text-center">
            <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded friend_pic picture"></a>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center lead"><br> <p><b>9001</b> Friends - <b>666</b> Groups</p></div>
    </div>
  </div>
  <!-- PICTURES_WIDGET -->
  <div class="col-md-4">
    <div class="panel panel-default standard">
      <div class="panel-heading text-center lead pictures">Pictures</div>
      <div class="panel-body">
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
        <div class="col-md-6 text-center">
          <a href=""><img src="webapp/assets/img/anon_user.png" class="img-rounded big-picture"></a>
        </div>
      </div>
      <div class="panel-footer text-center lead">
        <br>
        <p><b>1337</b> Pictures - <b>69</b> Albums</p>
      </div>
    </div>
  </div>
  <!-- POSTS_WIDGET -->
  <div class="col-md-4">
    <div class="panel panel-default standard">
      <div class="panel-heading text-center lead posts">Posts</div>
      <div class="panel-body">
        <p class='text-center'><a href=""> + New Post</a></p>
        <hr>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-1">
            <img src="webapp/assets/img/anon_user.png" class="img-rounded small-picture" >
          </div>
          <div class="col-xs-7">
            <h4 style='margin-top:4px;'>Hello world !</h4>
            <p class='text-muted'>"<i>This is my first post</i>"</p>
            <p><a href="">Read more</a></p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
            <img src="webapp/assets/img/anon_user.png" class="img-rounded small-picture" >
          </div>
          <div class="col-xs-7">
            <h4 style='margin-top:4px;'>One, two, one, two...</h4>
            <p class='text-muted'>"<i>...It's a test.</i>"<br></p>
            <p><a href="">Read more</a></p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
            <img src="webapp/assets/img/anon_user.png" class="img-rounded small-picture" >
          </div>
          <div class="col-xs-7">
            <h4 style='margin-top:4px;'>Another test</h4>
            <p class='text-muted'>"<i>Becase we can.</i>"</p>
            <p><a href="">Read more</a></p>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center lead">
        <br>
        <p><b>42</b> Posts</p>
      </div>
  </div>
</div>
