<div class="row">
  <div class="col-md-1 col-md-offset-1 text-right">
    <p><img ng-src="webapp/assets/img/1D20-logo2.png" alt="Logo_1D20" title="Logo du site 1D20" class="welcome-logo"></p>
  </div>
  <div class="col-md-1">
    <p style='font-size:50px; line-height:100px; margin-left:-30px;'><b> 1d20</b></p>
  </div>
  <div class="col-md-6 col-md-offset-2 text-right">
    <p class='pull-right' style='font-size:20px; line-height:100px;'>
      <a href="#login" class='btn btn-primary'>Login</a>   
    </p>
  </div>
</div>
<div class="welcome-first-section" style='margin-top:-50px;'>
  <div class='welcome-title text-center'>
    <h1><br>Play your favourite RPGs with <b>1d20</b></h1>
    <h2 class='lead text-muted'>RPGs everywhere, everytime.</h2>
    <br>
    <p><img ng-src="webapp/assets/img/pictures/dices.jpg" class='img-thumbnail' style='max-height:500px;'></p>
    <p class='text-muted'><i>Mobile apps to be announced</i></p>
  </div>
</div>
<hr class='welcome-hr'>
<div class="welcome-second-section">
  <div class='welcome-title text-center'>
    <h1><b>Features</b> you'll really dig</h1>
    <h2 class='lead text-muted'>We've covered all your needs.</h2>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 text-center">
      <p><img ng-src="webapp/assets/img/pictures/content_sharing.jpg" class='welcome-picture img-thumbnail'></p>
      <p class='lead'>Content Sharing</p>
    </div>
    <div class="col-md-4 text-center">
      <p><img ng-src="webapp/assets/img/pictures/game_session.jpg" class='welcome-picture img-thumbnail'></p>
      <p class='lead'>Private Game Sessions</p>
    </div>
    <div class="col-md-4 text-center">
      <p><img ng-src="webapp/assets/img/pictures/sheet_management.jpg" class='welcome-picture img-thumbnail'></p>
      <p class='lead'>Character sheets management</p>
    </div>
  </div>
  <div class="row welcome-description">
    <div class='col-md-6 col-md-offset-2'>
      <h3>Content Sharing</h3>
      <p class='text-justify'>Share your experiences with our users, show them your passions, pictures and works through your dashboard.</p>
    </div>
    <div class="col-md-4" style='height:100px;'> </div>
  </div>
  <div class="row welcome-description">
    <div class='col-md-6 col-md-offset-4'>
      <h3 class='text-right'>Private Game Sessions</h3>
      <p class='text-right text-justify'>Play with your friends in private session and keep track of your adventures without being disturbed.</p>
    </div>
    <div class="col-md-2" style='height:100px;'></div>
  </div>
  <div class="row welcome-description">
    <div class='col-md-6 col-md-offset-2'>
      <h3>Character sheets management</h3>
      <p class='text-justify'>All of your character sheets are stored in our cloud and are accessible in one click, wherever you are.</p>
    </div>
    <div class="col-md-4" style='height:100px;'> </div>
  </div>
</div>
<hr class='welcome-hr'>
<div class="welcome-third-section">
  <div class='welcome-title text-center'>
    <h1>Our <b>pricing</b> cater to your needs.</h1>
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1" style='margin-left: 11%; margin-right:-30px;'>
      <br>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center lead">Freemium</h3>
        </div>
        <div class="panel-body text-center">
          <br>
          <p>1 character sheet</p>
          <p>1 active game session</p>
          <hr>
          <h3 class='text-center'>Free</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading" style='background-color:#5cb85c;'>
          <h2 class="panel-title text-center lead" style='font-size:30px;'>Plus</h2>
        </div>
        <div class="panel-body text-center">
          <br>
          <p style='font-size:20px'>5 character sheets</p>
          <br>
          <p style='font-size:20px'>5 active game sessions</p>
          <br>
          <hr>
          <h2 class='text-center'>$4,99 / month</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3" style='margin-left:-30px;'>
      <br>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center lead">Premium</h3>
        </div>
        <div class="panel-body text-center">
          <br>
          <p>Unlimited character sheets</p>
          <p>Unlimited active game sessions</p>
          <hr>
          <h3 class='text-center'>$9,99 / month</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <br>
  <a href="#login" class='btn btn-lg btn-success'>Sign up now</a>
</div>
<hr class='welcome-hr'>
<div class="welcome-fourth-section">
  <div class='welcome-title text-center'>
    <h1>By players, for players.</h1>
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style='text-align:justify;'>
      <p>
        We believe that life is a game and we love RPGs. If you feel the same don't hesitate to join us on 1d20. We'll bring the game into your life, whenever you want, wherever you want. Come have fun with us !
      </p>
      <br>
      <p class='text-center'><b>And keep in mind that if you're not satisfied, you can cancel for free at any time within your 30-day trial.</b></p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="welcome-fifth-section">
  <div class='welcome-title text-center'>
    <h2 class='text-muted'>Keep in touch.</h1>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-4 col-md-offset-2" style='text-align:justify;'>
        <h4><b>About us</b></h4>
        <br>
        <p>
          ETNA Corp. was founded in 2014 by Yohan Piron and Vincent Queguiner to take advantage of the latest technologies and the best students from ETNA 2017.
        </p>
      </div>
      <div class="col-md-4">
        <h4><b>   Sign up to the newsletter <br><small>      <i>(to be announced)</i></small> </b></h4>
        <br>
        <div class="col-md-10">
          <p><input type='text' class='form-control' disabled></p>
        </div>
        <div class="col-md-2">
          <a href="" class='btn btn-primary' disabled>Subscribe</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class='row'>
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3 text-center"><b>Support</b></div>
        <div class="col-md-3 text-center"><b>Privacy</b></div>
        <div class="col-md-3 text-center"><b>Policy</b></div>
        <div class="col-md-3 text-center"><b>Contact</b></div>
      </div>
    </div>
  </div>
</div>
