<!DOCTYPE html>
<html lang="en">
<head>
    <title>1d20.fr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="recursive.com.au">

    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="app/assets/stylesheets/bootstrap.css.map" rel="stylesheet">
    <link href="app/assets/stylesheets/layout.css" rel="stylesheet">
    <link href="app/assets/stylesheets/welcome.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand pull-left">1d20</a>
          <p class='pull-right'><button class="btn btn-primary" href="#">Login</button>      
            <a href="#">Blog</a>      
            <a href="#">About</a>
          </p>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="feature col-md-12">
      <h2 class="motto">Play your favourite RPGs with <strong>1d20</strong></h2>
      <h3 class="subheader">RPGs everywhere, everytime</h3>
      <img id="feature-screenshot" src="app/assets/img/feature.png" alt="screenshot" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 graded text-center text-muted">
      <p>Mobile apps to be announced</p>
    </div>
  </div>
</div>

<div class="features details">

  <div class="container">
    <h2><strong>Features</strong> you'll really dig</h2>
    <h3 class="subheader">We've covered all your needs</h3>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="thumbnail">
            <span>Simple Character Sheet Management</span>
            <img src="app/assets/img/pictures/placeholder_260.png" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <span>Private game sessions</span>
            <img src="app/assets/img/pictures/placeholder_260.png" alt="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <span>Content sharing</span>
            <img src="app/assets/img/pictures/placeholder_260.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 box drop-shadow">
        <div class="row">
          <article class="col-md-5 col-md-offset-1">
            <h3>Simple Character Sheet Management.</h3>
            <p>All of your character sheets are stored in our cloud and are accessible in one cdivck, wherever your are.</p>
          </article>
          <div class="col-md-4 col-md-offset-1">
            <img class='img-thumb thumbnail' src="app/assets/img/pictures/sheet_management.jpg" alt="placeholder" />
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <img class='img-thumb thumbnail' src="app/assets/img/pictures/game_session.jpg" alt="placeholder" />
          </div>
          <article class="col-md-5 col-md-offset-1">
            <h3>Private game sessions.</h3>
            <p>Play with your friends in private session and keep track of your adventures without being disturbed.</p>
          </article>
        </div>
        <br>
        <br>
        <div class="row">
          <article class="col-md-5 col-md-offset-1">
            <h3>Content sharing.</h3>
            <p>Share your experiences with our users, show them your passions, pictures and works through your dashboard.
            </p>
          </article>
          <div class="col-md-4 col-md-offset-1">
            <img class='img-thumb thumbnail' src="app/assets/img/pictures/content_sharing.jpg" alt="placeholder" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features pricing">
  <div class="container">
    <h2>Our <strong>pricing</strong> cater to your needs</h2>
    <br>
    <br>
    <div class="row pricing">

    <div class="col-md-3 col-md-offset-1">
      <div class="well">
        <h3>Freemium</h3>
        <center><ul>
          <li>1 character sheet</li>
          <li>1 active game session</li>
        </ul></center>
        <h4>Free</h4>
      </div>
    </div>

    <div class="col-md-4">
      <div class="spot">Best<br/>value !</div>
      <div class="well highlighted">
        <h3>Plus</h3>
        <ul>
          <li>5 character sheets</li>
          <li>5 active game sessions</li>
        </ul>
        <h4>$4,99 / month</h4>
      </div>
    </div>

    <div class="col-md-3">
      <div class="well">
        <h3>Premium</h3>
        <ul>
          <li>Unlimited character sheets</li>
          <li>Unlimited active game sessions</li>
        </ul>
        <h4>$9,99 / month</h4>
      </div>
    </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center graded">
        <button href="#" class="btn btn-lg btn-primary">Sign up now</button>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <h2>By players, for players</h2>
    <div class="row">
      <div class="col-md-12 box">
        <div class="col-md-10 col-md-offset-1">
          <p>1d20 was created with passion by old RPGs players for you, players and future players. </p><p> Our main objective is to help people discover RPGs and play them with their freinds without the few constraints implied by the media. Allowing you to play everywhere, anytime.</p>
          <p>And remember that if you're not satisfied, you can cancel for free at any time within your 30-day trial.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="features details">
  <div class="container">
  <h3 class="subheader">Keep in touch</h3>
  <div class="row">
    <div class="col-md-8">
      <h4>About us</h4>
      <br>
      <p>ETNACORP was founded in 2014 by Yohan Piron and the best ETNA2014 members to take advantage of the latest technologies in order to make awesome stuff.</p>
      <p></p>
    </div>
    <div class="col-md-4">
      <form class="form-horizontal">
        <h4>Sign up to the newsletter</h4>
        <br>
        <div class="col-md-8"  style="padding-left:0;">
          <input class="form-control" placeholder="Email address">
        </div>
        <button class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-12">
      <ul class="links">
        <li><a href="#"><img src="app/assets/img/icons/twitter.png" alt="twitter" /></a></li>
        <li><a href="#"><img src="app/assets/img/icons/facebook.png" alt="fb" /></a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

</div>

</body>
</html>
